html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-size: 600;
  background-color: #212121;
  font-size: 1.6rem;
  color: white;
  height: 100vh;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}