.model {
    background-color: white;
    color: black;
    width: 30vw;
    margin: auto;
    min-height: 30vh;
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #e0e0e0, #bdbdbd);
    transition: all .3s ease-out;
}

@media (max-width:900px) {
    .model {
        width: 90%;
    }
}

@media (max-width:600px) {
    .model {
        width: 80%;
    }
}

.OrderSummery__checkout,
.OrderSummery__close {
    width: 10rem;
    align-self: center;
    padding: 1rem;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e0e0e0;
    color: #212121;
    display: inline-block;
    transition: all .2s;
    margin-right: 1.5rem;
}

.OrderSummery__checkout {
    background-color: #4db6ac
}

.OrderSummery__close {
    background-color: #e57373
}


.OrderSummery__checkout:hover,
.OrderSummery__close:hover {
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    background-color: #bdbdbd;
}

.OrderSummery__checkout:hover {
    background-color: #26a69a;
}

.OrderSummery__close:hover {
    background-color: #ef5350
}


.OrderSummery__checkout:active,
.OrderSummery__close:active {
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);

}

.OrderSummery__checkout:focus,
.OrderSummery__close:focus {
    outline: none;
}

.OrderSummery__list {
    list-style: none;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, auto));
    grid-gap: 2rem;
    padding: 2rem;
    justify-items: start;
    align-items: center;

}

.OrderSummery__item {
    font-size: 1.6rem;
    font-weight: 400;

}